@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");

.ff_jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.ff_poppins {
  font-family: "Poppins", sans-serif;
}
.ff_roboto {
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
}
.cursor_block {
  cursor: progress;
}
:root {
  --fs-xsm: 12px;
  --fs-sm: 14px;
  --fs-md: 14px;
  --fs-xl: 16px;
  --fs-2x4l: 18px;
  --fs-3x2l: 24px;
  --fs-4x8l: 32px;
  --fs-5x6l: 32px;
  /*  */
  --fw-med: 500;
  /* clr */
  --clr-green: #27bba2;
  --clr-light-White: #fafafa;
  --clr-White: #ffffff;
  --clr-green-light: #00ffcc;
  /* bg-black */
  --bg-black: #151515;
  --border_bottom: #434343;
  --Homing_box: #27bba2;
}

.fs_xsm {
  font-size: var(--fs-xsm);
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_xsm {
  font-size: var(--fs-xsm);
}

.fs_xl {
  font-size: var(--fs-xl);
}

.fs_2x4l {
  font-size: var(--fs-2x4l);
}

.fs_3x2l {
  font-size: var(--fs-3x2l);
}

.fs_4x8l {
  font-size: var(--fs-4x8l);
}

.fs_5x6l {
  font-size: var(--fs-5x6l);
}

/*  */

.text_green {
  color: var(--clr-green);
}

.text_ligth_green {
  color: var(--clr-green-light);
}

.text__lightwhite {
  color: var(--clr-light-White);
}
.text_white {
  color: var(--clr-White);
}
.bg_black {
  background-color: var(--bg-black);
}

.fw_med {
  font-weight: var(--fw-med);
}

/*  */

.opacity_07 {
  opacity: 0.7;
}
.opacity_08 {
  opacity: 0.8;
}
.opacity_09 {
  opacity: 0.9;
}

.transition300 {
  transition: all 300ms ease-in-out;
}

.z_index--1 {
  z-index: -1;
}
.z_index0 {
  z-index: 0;
}
.z_index1 {
  z-index: 1;
}
.z_index2 {
  z-index: 2;
}
.z_index3 {
  z-index: 3;
}
.z_index4 {
  z-index: 4;
}
.z_index5 {
  z-index: 5;
}
.z_index6 {
  z-index: 6;
}
.z_index7 {
  z-index: 7;
}
.z_index8 {
  z-index: 8;
}
.z_index9 {
  z-index: 9;
}
.z_index10 {
  z-index: 10;
}

.common_btn {
  background: linear-gradient(139.21deg, #27bba2 -13.86%, #1f8f45 112.5%),
    linear-gradient(139.21deg, #1f8f7c -13.86%, #1f8f45 112.5%), #1f8f7c;
  border-radius: 51px;
  padding: 15px 30px;
  background-size: 110%;
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  font-size: var(--fs-md);
  line-height: 150%;
  text-align: center;
  color: var(--clr-White);
  border: none;
}
.common_btn:hover {
  background: linear-gradient(200.21deg, #27bba2, #1f8f45);
  background-size: 110%, 110%;
  background-position: center;
}

.square_btn {
  border-radius: 5px;
  background-color: transparent;
  padding: 11px 30px;
  background: linear-gradient(139.21deg, #27bba2 -13.86%, #1f8f45 112.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #1f8f45;
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  font-size: var(--fs-md);
  background-size: 194%;
  background-position: center;
}
.square_btn:hover {
  background: linear-gradient(139.21deg, #1f8f45 -13.86%, #27bba2 112.5%);
  color: var(--clr-White) !important;
  -webkit-text-fill-color: whitesmoke;
  border: 1px solid transparent;
}
.peragraph_common {
  font-family: "Roboto";
  font-weight: 400;
  font-size: var(--fs-md);
  line-height: 150%;
  color: var(--clr-light-White);
  opacity: 0.7;
}
.heading-common {
  font-family: "Plus Jakarta Sans";
  font-weight: var(--fw-med);
  font-size: var(--fs-4x8l);
  line-height: 120%;
  color: var(--clr-White);
  opacity: 0.9;
}
.bg_box_Succes {
  background: rgba(0, 0, 0, 0.312);
  -webkit-backdrop-filter: blur(74px);
  backdrop-filter: blur(40px);
  border-radius: 17px;
}
/*  */

@media (min-width: 576px) {
  .Green_Layer_Commn {
    width: 252.14px;
    height: 252.14px;
    background: var(--clr-green);
    opacity: 0.4;
    filter: blur(80px);
  }
}
/* asd */
.Image_Old_Metho img,
.Homing_Method {
  width: 100%;
}

.Green_box_behind_old {
  width: 111.76px;
  height: 111.76px;
  right: 4%;
  top: 0;
  background-color: var(--clr-green);
  box-shadow: 0px 21px 36px rgba(0, 0, 0, 0.12);
}
/* asdf */
.CheckMArk {
  width: 22px;
  height: 22px;
}

.border_bottom_checkMark_Parent {
  border-bottom: 1px solid var(--border_bottom);
}
.box_homig_img_bottom {
  width: 126.72px;
  height: 126.72px;
  background: var(--Homing_box);
  right: 0;
  bottom: 0;
  transform: translate(10%, 10%);
  border-radius: 15.874px 0px 15.874px 0px;
}
.green_layer_pos_homing {
  right: 5%;
  bottom: 5%;
}
/*  */
.green_layer_Optmz {
  width: 409.46px;
  height: 269.15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.border_rounded_Custom {
  border-radius: 60px;
}
.starXl_optim {
  top: 20%;
  width: 34px;
  left: 2%;
  animation: starXL 6s linear 0s infinite alternate;
}

@keyframes starXL {
  0% {
    left: 2%;
    transform: rotate(0deg);
  }
  100% {
    left: 20%;
    transform: rotate(360deg);
  }
}
.starXl2_optim {
  bottom: 20%;
  width: 27px;
  right: 2%;
  animation: starSm 6s linear 0s infinite alternate;
}
@keyframes starSm {
  0% {
    right: 2%;
    transform: rotate(360deg);
  }
  100% {
    right: 20%;
    transform: rotate(0deg);
  }
}
.starXl3_optim {
  bottom: 8%;
  width: 27px;
  left: 33%;
  animation: starSm2 10s linear 0s infinite alternate;
}
@keyframes starSm2 {
  0% {
    left: 33%;
    transform: rotate(0deg);
  }
  100% {
    left: 4%;
    transform: rotate(720deg);
  }
}
.eyeXl_optim {
  top: 10%;
  width: 43px;
  right: 10%;
  animation: eyeComm 3s linear 0s infinite alternate;
}
@keyframes eyeComm {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
.Arrow_Pat {
  top: -52%;
  left: -24%;
}
.eyeSM_optim {
  bottom: 25%;
  width: 30px;
  left: 8%;
  animation: eyeComm 3s linear 0s infinite alternate;
}
.box_Patint_Pis1 {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  opacity: 1;
  left: 0%;
  bottom: 0;
  animation: Posbox_1 4s linear 0s infinite alternate-reverse;
}
.box_Patint_Pis2 {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  right: 2%;
  bottom: -6%;
  animation: Posbox_2 4s linear 0s infinite alternate-reverse;
}
@keyframes Posbox_1 {
  0% {
    bottom: 70%;
  }
  100% {
    bottom: 80%;
  }
}
@keyframes Posbox_2 {
  0% {
    bottom: 4%;
  }
  100% {
    bottom: 15%;
  }
}
/*  */
.img_ScreenShot_Success {
  width: calc(100% + 400px);
}
@media (min-width: 576px) {
  .img_ScreenShot_Success {
    width: calc(100% + 200px);
  }
  @keyframes Posbox_1 {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 20%;
    }
  }
  @keyframes Posbox_2 {
    0% {
      bottom: 2%;
    }
    100% {
      bottom: 25%;
    }
  }
  .CheckMArk {
    width: 23px;
    height: 23px;
  }
  .Text_arrow_Old_matho {
    top: -85%;
    right: 5%;
  }
  :root {
    --fs-xsm: 12px;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-xl: 20px;
    --fs-2x4l: 24px;
    --fs-3x2l: 26px;
    --fs-4x8l: 38px;
    --fs-5x6l: 42px;
  }
}
@media (min-width: 768px) {
  .img_ScreenShot_Success {
    width: calc(100% + 00px);
  }
  .box_Patint_Pis1 {
    left: -11%;
    bottom: 0;
  }
  .box_Patint_Pis2 {
    right: -3%;
    bottom: -6%;
  }
  .border_rounded_Custom {
    border-radius: 192px;
  }

  .Text_arrow_Old_matho {
    top: -85%;
    right: 25%;
  }
  :root {
    --fs-xsm: 12px;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-xl: 20px;
    --fs-2x4l: 24px;
    --fs-3x2l: 32px;
    --fs-4x8l: 48px;
    --fs-5x6l: 56px;
  }
}
@media (min-width: 992px) {
  .img_ScreenShot_Success {
    width: 75%;
  }
  @keyframes Posbox_1 {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 40%;
    }
  }
  @keyframes Posbox_2 {
    0% {
      bottom: -6%;
    }
    100% {
      bottom: 30%;
    }
  }
  .CheckMArk {
    width: 24px;
    height: 24px;
  }
  .Text_arrow_Old_matho {
    top: -138%;
    right: -21%;
  }
  :root {
    --fs-xsm: 12px;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-xl: 20px;
    --fs-2x4l: 24px;
    --fs-3x2l: 32px;
    --fs-4x8l: 48px;
    --fs-5x6l: 54px;
  }
}
@media (min-width: 1200px) {
  .img_ScreenShot_Success {
    width: 68%;
  }
  :root {
    --fs-xsm: 12px;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-xl: 20px;
    --fs-2x4l: 24px;
    --fs-3x2l: 32px;
    --fs-4x8l: 48px;
    --fs-5x6l: 56px;
  }
  .Image_Old_Metho {
    width: 417.35px;
  }
}
@media (min-width: 1440px) {
  :root {
    --fs-xsm: 12px;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-xl: 20px;
    --fs-2x4l: 24px;
    --fs-3x2l: 32px;
    --fs-4x8l: 48px;
    --fs-5x6l: 56px;
  }
  .container {
    max-width: 1140px;
  }
}
